* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

#appContainer {
  background: linear-gradient(RGBA(154, 232, 243, 1), RGBA(0, 157, 187, 1));
  color: #1D88A0;
  text-align: center;
  border-radius: 5px;
  height: 100vh;
}

#appContainer .top-section h4 {
  padding-top: 60px;
  font-size: 4vw;
}

#appContainer .top-section p {
  font-size: 3vw;
}

#appContainer h1 {
  font-size: 20vw;
  padding-top: 40px;
}

#appContainer .bottom-section {
  font-size: 4vw;
}

#appContainer .bottom-section p {
  color: white;
  opacity: .7;
  font-size: 5vw;
}
